
button {
    background-color: #7ee59d;
    font-size: larger;
    border-radius: 1rem;
    font-family: cursive;
    padding: 0.5rem 2rem 0.5rem 2rem;

  }
  
  button:hover {
    background-color: #58b474;
    transform:scale(1.1);
  }
  