.cell-button {
  font-size: inherit;
  font-weight: bold;
  text-align: "center";
  width:100%;
  aspect-ratio: 1;
  min-width: 6.5%;

}
.cell-button:hover{
  transform:scale(1.3);
  background-color: transparent; 
}

.target{
  animation: bun-jump 0.25s  linear 0s alternate infinite;
 
}

@keyframes bun-jump {
  from {
    transform: translateY(0);  
  }
  to {
    transform: translateY(-1vh); 
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(0)
  }
  100% {
    opacity: 0;
    transform: translateX(10vh);
  }
}

.one {
  color: rgb(94, 195, 69);
}

.two {
  color: rgb(92, 145, 191);
}

.three {
  color: orange;
}

.danger {
  color: red;
}

