.difficulty-heading {
  margin: 1rem;
  margin-left: 0rem;
}

.difficulty-bunny {
  margin: 1rem 0 1rem 0rem;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  font-size: small;
  background-color: rgb(156, 239, 32);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  top: -5px;
  right: 105%;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
