.game {
  
  font-size: 2rem;
  min-width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  padding: 0.5rem;
  background-color:#3e6604;
  border-radius: 1rem;
}

#root{
  padding: 5% 25% 0 25%;
}

body {
  background-image: url(../assets/forest.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

}

#board{
  background-color: rgb(188, 229, 188);
}

.row{
  display: flex;
}

.game-details{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading{
  width: 100%;
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}

.heading span{
  color: white;
  font-family: cursive;  
  text-wrap: nowrap;
  font-size: 1.5em;
  
}

