dialog{ 
   z-index: 9000;
    /* background-color: rgb(151, 196, 105, 0.95); */
    color: #3e6604;
    border-color: rgb(11, 11, 11);
    margin-top: 13%;
    border-left: 0;
    border-right:0;
    background-color: rgb(151, 196, 105);
    animation: fadeIn 0.3s  linear 0s forwards;
}

.modal-content{   
    text-align: center;
}

@keyframes fadeIn {
    0% { 
      transform: translateY(40vh);
      opacity: 0;
      
    }
    50% {   
        opacity: .8;
    }

    100% {   
      transform: translateY(0vh);
      opacity: 1;
    }
  }